[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
celery = {extras = ["redis"], version = "*"}
python-decouple = "*"
psycopg2-binary = "*"
requests = "*"
python-dateutil = "*"
django-filter = "*"
drf-yasg = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "*"
