.filter-switch label {
    cursor: pointer;
}
.filter-switch-item input:checked + label {
    color: inherit;
}
.filter-switch-item input:not(:checked) + label {
    --bg-opacity: 0;
    box-shadow: none;
}
@media (max-width: 468px) {
    #searchForm {
        width: 30%;
    }
    #searchForm > input {
        width: 100%;
    }
}
