{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %} - HackerNews</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
  </head>
  <body>
    <div class="bg-gray-200 text-black relative">
      <!--header-->
      {% include './includes/_header.html' %}
      <!--content-->
      {% block content %}{% endblock content %}
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
      const csrftoken = $("[name=csrfmiddlewaretoken]").val();
      if (csrftoken) {
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
        }
        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          },
        });
      }
    </script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
